body {
  margin: 0%;
  background-color: white;
}
header  {
  background-color: purple;
}
nav ul {
  margin: 0;
  text-align: center;
  font-family: Arial;
  font-size: 17px;
}
nav li {
  display: inline-block;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
nav a:hover {
  color: black
}
nav a:before {
  content: ' ';
  display: block;
  height: 5px;
  background-color: black;
  top 0;
  width: 0;
  transition: all ease-in-out 300ms;
}
nav a:hover::before {
  width: 100%;
}
a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
h1 {
  font-family: Georgia;
  font-size: 34px;
  line-height: 2.5;
  text-decoration: bold;
  color: black;
  text-align: center;
}
h2 {
  font-family: Georgia;
  font-size: 30px;
  text-decoration: underline;
  color: black;
  margin-left: 7%;
}
p {
  font-family: Arial;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  color: black;
}
p1 {
  font-family: Arial;
  font-size: 24px;
  line-height: 1.5;
  color: black;
}
p2 {
  font-family: Arial;
  font-size: 26px;
  font-weight: bold;
  color: black;
  line-height: 2;
}
p3 {
  font-family: Georgia;
  font-size: 22px;
  line-height: 2.0;
  color: black;
  margin-left: 5%;
  margin-right: 10%;
}
p4 {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.8;
  color: black;
  margin: 1%;
}
.container1 {
  display: flex;
  align-items: center;
  max-width: 45%;
  margin: auto; 
  padding: 30px;
}
.text1 {
  flex: 1;
  padding-right: 20px;
}
.container2 {
  display: flex;
  align-items: center;
  max-width: 1800px;
  margin: auto; 
  padding: 30px;
}
.text2 {
  flex: 1;
  padding-left: 3%;
}
.logo {
  max-width: 100%;
  height: auto;
  padding: 3%;
}
.wave {
  max-width: 100%;
  height: auto;
  padding: 1%;
}
.sammy {
  max-width: 100%;
  height: auto;
  padding: 0;
}
.profile {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  display: wrap;
}
.box {
  border: 3px solid black;
  padding: 4%;
  width: 300px;
}
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  display: none;
}
#lightbox.active {
  display:flex;
  justify-content: center;
  align-items: center;
}
#lightbox img {
  max-width: 95%;
  max-height: 90%;
  padding: 6px;
  background-color: black;
  border: 3px solid white;
}