body {
  margin: 0%;
  background-color: white;
}
header  {
  background-color: purple;
}
nav ul {
  margin: 0;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
}
nav li {
  display: inline-block;
  padding-top: 1.1%;
  padding-bottom: 1.1%;
  padding-left: 2%;
  padding-right: 2%;
}
nav a:hover {
  color: black
}
nav a:before {
  content: ' ';
  display: block;
  height: 5px;
  background-color: black;
  top: 0;
  width: 0;
  transition: all ease-in-out 300ms;
}
nav a:hover::before {
  width: 100%;
}
a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
h1 {
  font-family: Georgia;
  font-size: 34px;
  line-height: 2.5;
  text-decoration: bold;
  color: black;
  text-align: center;
}
h2 {
  font-family: Georgia;
  font-size: 30px;
  line-height: 1.2;
  text-decoration: underline;
  color: black;
  margin-left: 7%;
}
h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 38px;
  line-height: 1.5;
  color: black;
}
.p1 {
  font-family: Arial;
  font-size: 24px;
  line-height: 1.5;
  color: black;
}
.p2 {
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  color: black;
  line-height: 2;
}
.p3 {
  font-family: Georgia;
  font-size: 22px;
  line-height: 1.2;
  color: black;
}
.p4 {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.8;
  color: black;
}
.p5 {
  font-family: Georgia;
  font-size: 22px;
  line-height: 2.2;
  color: black;
}
footer {
  margin: .5%;
}
.outer_container1 {
  display: flex;
  align-items: center;
  max-width: 45%;
  margin: auto; 
  padding: 2%;
}
.text_container1 {
  flex: 1;
  text-indent: -1.8em;
  margin-left: 3%;
}
.outer_container2 {
  display: flex;
  align-items: center;
  max-width: 92%; 
  margin: 0 auto; 
  padding: 1%;
}
.text_container2 {
  margin: 0;
  flex: 1;
}
.logo {
  max-width: 100%;
  height: auto;
  padding: 3%;
}
.wave {
  max-width: 100%;
  height: auto;
  padding: 2%;
}
.sammy {
  max-width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}
.profile {
  width: 33%;
  height: 33%;
  border-radius: 200px;
  display: wrap;
}
.box {
  border: 3px solid black;
  padding: 2.5%;
  width: 23%;
  max-width: 330px;
}
.awards {
  padding-top: .5%;
  margin-left: 10%;
  margin-right: 10%;
}
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  display: none;
}
#lightbox.active {
  display:flex;
  justify-content: center;
  align-items: center;
}
#lightbox img {
  max-width: 95%;
  max-height: 90%;
  padding: 6px;
  background-color: black;
  border: 3px solid white;
}